<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="/webjars/AdminLTE/3.1.0/dist/img/AdminLTELogo.png"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Mini Control</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2"
                     th:src="${currentUser.avatar}">
            </div>
            <div class="info">
                <a class="d-block" href="#" th:text="${currentUser.name}"></a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#request.requestURI == '/' ? 'active' : ''}" href="/">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item has-treeview" th:classappend="${#request.requestURI.startsWith('/user') ? 'menu-open' : ''}">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Manage Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#request.requestURI == '/user/list' ? 'active' : ''}" href="/user/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#request.requestURI == '/user/add' ? 'active' : ''}" href="/user/add">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add User</p>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
